
body{
    margin: 0px;
}
h2{
    margin: 0%;
}
.header{
    /* margin: 0px; */
    border: 0px;
    background-color: green;
    border-bottom: 2px solid red;
}
.navigation{
    display: flex;
    width: 250px;
    background-color: yellow;
    border: 2px solid blue;
    gap: 20px;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5px;
}
.content{
    border-top: 1px solid black;
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    /* background-color: grey; */
}
#about{
    color: blue;
}
#photo{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 20px;
}

.education{
    border-top: 1px solid black;
}

.projects{
    border-top: 1px solid black;
}

.skills{
    border-top: 1px solid black;
}

.resume{
    border-top: 1px solid black;
}

.hobbies{
    border-top: 1px solid black;
}

.footer {
    border-top: 1px solid black;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    /* z-index: 1000; */
}
a:link {
    color: blue;
}
a:visited{
    color: blue;
}
a:hover{
    color: purple;
}